
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowPdf</title>
</head>
<body>
    <div>

        @Html.ActionLink("CV görüntüle", "CVDownload", "CvDownload", new { }, new { target = "_blank" })

    </div>
</body>
</html>
