@model List<Project1Portfolio.Models.Work>
@{
    ViewBag.Title = "WorkList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Son Çalışmalarım Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Id </th>
        <th>Çalışmanın İsmi</th>
        <th>Açıklama </th>
        <th>Sil </th>
        <th>Güncelle </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.WorkId </td>
            <td>@item.Title </td>
            <td>@item.Description </td>
            <td><a href="/Work/DeleteWork/@item.WorkId" class="btn btn-danger">Sil</a> </td>
            <td><a href="/Work/UpdateWork/@item.WorkId" class="btn btn-success">Güncelle</a> </td>
        </tr>
    }
</table>
<a href="/Work/CreateWork/" class="btn btn-info">Yeni Çalışma Girişi</a>
