@model Project1Portfolio.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class=" mb-4">Hakkımda Bilgisi Güncelleme Sayfası</h2>
<form method="post">

    @Html.HiddenFor(x => x.AboutId, new { @class = "form-control" })
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Kategori Durumu</label>
    @Html.TextBoxFor(x => x.Detail, new { @class = "form-control" })
    <br />
    <label>Fotoğraf</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Hakkımda Bilgisini Güncelle</button>
</form>
