@model Project1Portfolio.Models.Education
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class=" mb-4">Yeni Eğitim Girişi</h2>

<form method="post">
    <label>Eğitim Seviyesi</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Eğitim Tarihi</label>
    @Html.TextBoxFor(x => x.EducationDate, new { @class = "form-control" })
    <br />
    <label>Eğitim Yeri</label>
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 6, 0, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Eğitimi Ekle</button>
</form>

