@model List<Project1Portfolio.Models.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h2 class="mb-4">Kategoriler Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Id </th>
        <th>Kategori Adı </th>
        <th>Kateggori Durumu </th>     
        <th>Sil </th>
        <th>Güncelle </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId </td>
            <td>@item.CategoryName </td>
            <td>@item.CategoryStatus </td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a> </td>
            <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a> </td>
        </tr>
    }
</table>
<a href="/Category/CreateCategory/" class="btn btn-info">Yeni Kategori Girişi</a>

